.Grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 40px;
	row-gap: 500px;
}

.left,
.Center,
.right{
	text-align: center;
	vertical-align: center;
	width: 450px;
	height: 450px;
			}
.Poems1{
	width: 400px;
	height: 400px;
	border-radius: 50px;
}

.Poems1:hover {
		Opacity: 0.95;
		width: 425px;
		height: 425px;
}

.Poems2{
	width: 1200px;
	height: 1200px;
	border-radius: 50px;
}
.Poems2:hover {
		Opacity: 0.95;
		width: 1250px;
		height: 1250px;
}
.Poems3{
	width: 1200px;
	height: 1200px;
	border-radius: 50px;
}
.Poems3:hover {
		Opacity: 0.95;
		width: 1250px;
		height: 1250px;
}

.author{
	font-size: 80px;
}

.topbar{
	margin-bottom: 600px;
}

.description{
	font-size: 100px;
	font-family: Monotype Corsiva
}
